In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('daily_performance_VML.csv', names=['Day', 'AdGroup', 'Campaign', 'Device', 'Revenue', 'Conversions', 'Cost', 'Impressions', 'Clicks'])

In [4]:
df.head()

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks
0,2017-03-08,d451_Salzburg - Visit,Spanish - Salzburg,3,0.0,0,0.00,4,0
1,2017-03-31,d784_Atlanta - TTD,Spanish - Atlanta,1,0.0,0,0.16,10,1
2,2017-03-01,d651-g5_San Francisco Day Trips,Spanish - San Francisco,1,0.0,0,0.84,5,1
3,2017-03-11,d672-a1195_USS Missouri,German - Hawaii,3,0.0,0,0.00,2,0
4,2017-03-27,d673_Chicago Tours - Visit,Spanish - Misc USA,2,0.0,0,0.13,22,1

In [5]:
df[df['Campaign'].apply(lambda x: 'Brand' in x)].head()

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks
117,2017-04-13,General Products - Codes,French - Brand Sitelinks,1,0.00,0,3.30,31,5
380,2017-04-16,General Products,French - Brand Sitelinks,1,197.95,3,194.35,397,152
462,2017-03-05,General Products - Misspells,French - Brand Sitelinks,1,13.73,1,7.64,55,5
1364,2017-03-28,Viator - Transfers,Spanish - Brand Sitelinks,2,0.00,0,0.20,3,3
1542,2017-03-21,Viator Brand,German - Brand,1,101.67,3,31.92,461,140

In [6]:
def catCamp(camp):
    if 'Brand' in camp:
        return 'Brand'
    elif 'DSA' in camp:
        return 'DSA'
    else: return 'Generic'

In [7]:
def catAg(ag):
    if 'viator' in ag:
        return 'Brand'

In [8]:
df['Type'] = df['AdGroup'].apply(catAg)

In [9]:
df['Type'] = df['Campaign'].apply(catCamp)

In [10]:
df[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand')].head(25)

Empty DataFrame
Columns: [Day, AdGroup, Campaign, Device, Revenue, Conversions, Cost, Impressions, Clicks, Type]
Index: []

In [11]:
df[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand')]

Empty DataFrame
Columns: [Day, AdGroup, Campaign, Device, Revenue, Conversions, Cost, Impressions, Clicks, Type]
Index: []

In [12]:
df.loc[(df['AdGroup'].apply(lambda x: 'viator' in x)) & (df['Type'] != 'Brand'), 'Type'] = 'Brand'

In [13]:
df.head(5)

,Day,AdGroup,Campaign,Device,Revenue,Conversions,Cost,Impressions,Clicks,Type
0,2017-03-08,d451_Salzburg - Visit,Spanish - Salzburg,3,0.0,0,0.00,4,0,Generic
1,2017-03-31,d784_Atlanta - TTD,Spanish - Atlanta,1,0.0,0,0.16,10,1,Generic
2,2017-03-01,d651-g5_San Francisco Day Trips,Spanish - San Francisco,1,0.0,0,0.84,5,1,Generic
3,2017-03-11,d672-a1195_USS Missouri,German - Hawaii,3,0.0,0,0.00,2,0,Generic
4,2017-03-27,d673_Chicago Tours - Visit,Spanish - Misc USA,2,0.0,0,0.13,22,1,Generic

In [14]:
df2 = df[['Day', 'Revenue', 'Conversions', 'Cost', 'Impressions', 'Clicks', 'Type']].groupby(by=['Type', 'Day']).sum()

In [15]:
df2.to_excel('Output_VML.xlsx')