In [1]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv('kw_all.csv')

In [26]:
df.dropna(inplace=True)

In [27]:
df.head()

                                             Keyword
0          + papillon tour +hélicoptère grand canyon
1                  +[+attrazione] +biglietti on-line
2                             ++bruselas atracciones
3                  ++chamonix +Mont +Blanc +berg tur
4   +[+attrazione] prenotazione del biglietto del...

In [28]:
def cleanKw (kw):
    kw = kw.replace('+', '')
    kw = kw.lower()
    kw = kw.replace('\'', '')
    kw = kw.replace('in ', '')
    kw = kw.replace('\"', '')
    kw = kw.replace('to ', '')
    kw = kw.replace('[', '')
    kw = kw.replace(']', '')
    kw = kw.strip()
    return kw

In [29]:
df['clean'] = df['Keyword'].apply(cleanKw)

In [43]:
df.head()

,Keyword,clean
0,+ papillon tour +hélicoptère grand canyon,papillon tour hélicoptère grand canyon
1,+[+attrazione] +biglietti on-line,attrazione biglietti on-line
2,++bruselas atracciones,bruselas atracciones
3,++chamonix +Mont +Blanc +berg tur,chamonix mont blanc berg tur
4,+[+attrazione] prenotazione del biglietto del...,attrazione prenotazione del biglietdel museo

In [44]:
unique_kw = df['clean'].unique()

In [45]:
df_unique = pd.DataFrame(unique_kw, columns=['Terms'])

In [46]:
df_unique.head()

                                          Terms
0        papillon tour hélicoptère grand canyon
1                  attrazione biglietti on-line
2                          bruselas atracciones
3                  chamonix mont blanc berg tur
4  attrazione prenotazione del biglietdel museo

In [47]:
output = []

In [48]:
def splitKw (kw):
    out = kw.split()
    for i in out:
        output.append(i)

In [49]:
df_unique['Terms'].apply(splitKw)

0         None
1         None
2         None
3         None
4         None
5         None
6         None
7         None
8         None
9         None
10        None
11        None
12        None
13        None
14        None
15        None
16        None
17        None
18        None
19        None
20        None
21        None
22        None
23        None
24        None
25        None
26        None
27        None
28        None
29        None
          ...
797679    None
797680    None
797681    None
797682    None
797683    None
797684    None
797685    None
797686    None
797687    None
797688    None
797689    None
797690    None
797691    None
797692    None
797693    None
797694    None
797695    None
797696    None
797697    None
797698    None
797699    None
797700    None
797701    None
797702    None
797703    None
797704    None
797705    None
797706    None
797707    None
797708    None
Name: Terms, dtype: object

In [50]:
df_kw = pd.DataFrame(output, index=range(len(output)), columns=['term'])

In [51]:
counts = df_kw['term'].value_counts()

In [52]:
counts_new = counts.reset_index()

In [53]:
counts_new.columns = ['terms', 'times']

In [54]:
counts_new.head(25)

      terms  times
0      tour  83246
1        de  63205
2         a  59129
3        en  48944
4       hop  35132
5    viator  33016
6     tours  31335
7         à  30463
8    visite  26823
9       bus  24836
10     york  23396
11       on  20594
12      new  18577
13      san  17815
14      off  17702
15    paris  16285
16    vegas  16142
17       em  15757
18       da  14828
19  visiter  14616
20      las  14409
21       di  13935
22      que  13458
23     city  13155
24     pass  11330

In [56]:
counts_new.to_excel('terms.xlsx', sheet_name='terms')