In [1]:
import numpy as np
import pandas as pd

In [2]:
from lxml import html
import requests

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_excel('sl_EN 31.03.17.xlsx', sheetname='Sheet1')

In [15]:
df2 = df[np.isnan(df['price from'])]

In [17]:
df2.head()

                                            Clean URL  price from
62  https://www.viator.com/Paris-tours/Sightseeing...         NaN
63  https://www.viator.com/San-Francisco-Tours/Seg...         NaN
64  https://www.viator.com/Washington-Dc-Tours/Tou...         NaN
65  https://www.viator.com/Singapore-tours/Segway-...         NaN
66  https://www.viator.com/London-attractions/Buck...         NaN

In [16]:
def getPrice(x):
    page = requests.get(x)
    tree = html.fromstring(page.content)
    price = tree.xpath('//span[@class="price-amount"]/text()')
    price_float = []
    for i in price:
        try:
            price_float.append(float(i))
        except:
            print('something wrong here')
    return min(price_float)

In [20]:
for i in df2['Clean URL']:
    min_price = getPrice(i)
    prices.append([i, min_price])

ValueError: min() arg is an empty sequence

In [19]:
prices = []

In [129]:
url = 'https://www.viator.com/Japan-attractions/Hiroshima-tours-tickets/d16-a203'

In [130]:
page = requests.get(url)
tree = html.fromstring(page.content)

In [131]:
price = tree.xpath('//span[@class="price-amount"]/text()')

In [132]:
price

['142.32', '355.80', '399.23', '733.77', '355.80', '733.77', '4,650.00']

In [134]:
min(price)

'142.32'

In [133]:
price_float = []
for i in price:
    price_float.append(float(i))

ValueError: could not convert string to float: '4,650.00'

In [113]:
min(price_float)

50.41

In [152]:
df_prices = pd.DataFrame(data=prices, columns=['URL', 'Price from'])

In [157]:
df_prices[df_prices['Price from'] == 350]

                                                   URL  Price from
183  https://www.viator.com/Taipei-attractions/Kaoh...       350.0

In [158]:
df_prices.loc[183]['URL']

'https://www.viator.com/Taipei-attractions/Kaohsiung-tours-tickets/d5262-a13982'

In [159]:
df_prices.to_excel('prices_from.xlsx')