In [88]:
import numpy as np
import pandas as pd
import re

In [67]:
df = pd.read_excel('DE_kw.xlsx')

In [70]:
df.dropna(inplace=True)

In [206]:
def cleanKw (kw):
    kw = kw.replace('+', '')
    kw = kw.lower()
    kw = kw.replace('\'', '')
    kw = kw.replace('in ', '')
    kw = kw.replace('\"', '')
    kw = kw.replace('to ', '')
    kw = kw.strip()
    return kw

In [207]:
df['clean'] = df['term'].apply(cleanKw)

In [208]:
df.head()

                          term                   clean
0               +'Amalfikuste'             amalfikuste
1            +1 +tag in +italy             1 tag italy
2       +1 +tag in +marrakesch        1 tag marrakesch
3   +17 +mile +drive +besuchen  17 mile drive besuchen
4        +1 +tag +griechenland      1 tag griechenland

In [209]:
unique_kw = df['clean'].unique()

In [210]:
df_unique = pd.DataFrame(unique_kw, columns=['Terms'])

In [211]:
df_unique.tail()

                          Terms
89381  zürich flughafen shuttle
89382      zürich guide deutsch
89383       zürich sehenswertes
89384   zürich sehenswürdigkeit
89385               zürich tour

In [212]:
output = []

In [213]:
def splitKw (kw):
    out = kw.split()
    for i in out:
        output.append(i)

In [214]:
df_unique['Terms'].apply(splitKw)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
89356    None
89357    None
89358    None
89359    None
89360    None
89361    None
89362    None
89363    None
89364    None
89365    None
89366    None
89367    None
89368    None
89369    None
89370    None
89371    None
89372    None
89373    None
89374    None
89375    None
89376    None
89377    None
89378    None
89379    None
89380    None
89381    None
89382    None
89383    None
89384    None
89385    None
Name: Terms, dtype: object

In [215]:
df_kw = pd.DataFrame(output, index=range(len(output)), columns=['term'])

In [216]:
counts = df_kw['term'].value_counts()

In [217]:
counts_new = counts.reset_index()

In [218]:
counts_new.columns = ['terms', 'times']

In [219]:
counts_new.head(25)

                 terms  times
0                 tour   6067
1   sehenswürdigkeiten   3802
2              deutsch   3313
3                  hop   3223
4                 nach   2917
5                tours   2779
6                  new   2764
7                  bus   2658
8          sightseeing   2591
9             ausflüge   2522
10           flughafen   2425
11              touren   2423
12                 von   2307
13                york   2266
14              london   2189
15             airport   2171
16             tickets   2118
17              viator   2097
18               paris   2020
19               vegas   1902
20                  on   1761
21             führung   1713
22                 san   1606
23           amsterdam   1541
24              buchen   1494

In [220]:
counts_new.to_excel('terms.xlsx', sheet_name='DE')