In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
%matplotlib inline

In [4]:
df = pd.read_excel('dsa_es_cat.xlsx', header=1) #header indicate the row where they are

# Code to analyse categories

In [6]:
def parseCat (str):
    if type(str) != float:
        arr = str.split('\n')
        return arr[0]
    else:
        return "No Cat"

In [7]:
df['Cat1'] = df['Categories'].apply(parseCat)

In [8]:
categories = df[['Cat1', 'Impressions', 'Clicks', 'Cost', 'Conversions']]

In [9]:
summary = categories.groupby('Cat1').sum()

In [10]:
summary['CPA'] = summary['Cost']/summary['Conversions']

In [11]:
summary[summary['Conversions'] > 0].sort_values(by='Conversions', ascending=False)

                        Impressions  Clicks    Cost  Conversions         CPA
Cat1
italia                        30164    5974  972.46           34   28.601765
españa                        53626    8287  966.44           28   34.515714
estados unidos                26288    5691  778.24           25   31.129600
francia                       19828    4058  673.38           20   33.669000
No Cat                        28300    5732  868.78           19   45.725263
reino unido                   12174    2435  479.49           12   39.957500
colombia                      15442    2693   91.94            6   15.323333
ciudad del vaticano            1189     308  114.10            5   22.820000
irlanda                         823     290   87.17            4   21.792500
países bajos                   4185     843  152.41            4   38.102500
suiza                          1286     444   66.11            4   16.527500
brasil                        10510    1916   95.00            3   31.666667
portugal                       3334     934  130.60            3   43.533333
turquía                         783     318   43.57            3   14.523333
noruega                        1258     425   49.66            3   16.553333
tailandia                      6036    1256  105.57            3   35.190000
japón                          1818     541   92.79            3   30.930000
méxico                        26951    4369  270.57            3   90.190000
china                          1188     420   66.66            3   22.220000
chequia                        2304     399   77.73            3   25.910000
polonia                         977     330   47.09            2   23.545000
puerto rico                    1902     298   38.89            2   19.445000
alemania                       3486     899  139.29            2   69.645000
islandia                        352      95   25.77            2   12.885000
canadá                         2712     741   72.53            2   36.265000
sudáfrica                      1814     438   48.64            2   24.320000
rumanía                         184      61   13.04            1   13.040000
nueva zelanda                   793     268   44.36            1   44.360000
singapur                        819     119   19.03            1   19.030000
india                           443     162   29.02            1   29.020000
marruecos                      1022     328   48.55            1   48.550000
israel                          783     388   65.74            1   65.740000
islas caimán                    489     109    4.76            1    4.760000
hungría                        2299     282   82.60            1   82.600000
emiratos árabes unidos         1625     314   52.28            1   52.280000
croacia                        2845     623   86.33            1   86.330000
corea del sur                   211     105   13.11            1   13.110000
bélgica                        2370     357   48.11            1   48.110000
bulgaria                        371      93   27.01            1   27.010000
bahamas                        1396     421   21.70            1   21.700000
austria                        4019     852  124.14            1  124.140000
australia                       639     235   35.88            1   35.880000
aruba                          1586     517   27.79            1   27.790000
argentina                     12556    1904   91.97            1   91.970000
vietnam                        2778     480  113.24            1  113.240000

In [12]:
summary[summary['Conversions'] == 0].sort_values(by='Cost', ascending=False)

,Impressions,Clicks,Cost,Conversions,CPA
Cat1,,,,,
costa rica,5745,1156,87.30,0,inf
perú,8909,1500,86.63,0,inf
república dominicana,10524,1241,85.61,0,inf
chile,8443,1476,83.29,0,inf
guatemala,1984,541,67.97,0,inf
grecia,1388,517,48.96,0,inf
dinamarca,1920,351,35.54,0,inf
jamaica,1761,502,33.38,0,inf
uruguay,2401,342,30.52,0,inf
hong kong,659,104,29.89,0,inf
panamá,2122,389,29.64,0,inf
ecuador,2477,432,25.50,0,inf
camboya,462,118,24.96,0,inf
rusia,1091,240,24.92,0,inf
jordania,624,116,24.82,0,inf
honduras,469,236,24.65,0,inf
egipto,659,260,24.27,0,inf
bolivia,819,223,21.80,0,inf
belice,190,90,15.29,0,inf
bosnia-herzegovina,306,77,15.21,0,inf
malasia,297,118,14.90,0,inf
nicaragua,1167,242,14.56,0,inf
indonesia,321,129,14.16,0,inf
estonia,78,51,13.66,0,inf
curazao,277,94,12.96,0,inf
eslovenia,205,52,12.07,0,inf
sint maarten,432,155,10.04,0,inf
suecia,396,123,9.10,0,inf
polinesia francesa,136,72,8.57,0,inf
el salvador,1210,232,8.07,0,inf
mónaco,87,31,6.67,0,inf
finlandia,58,32,4.17,0,inf
filipinas,91,41,3.99,0,inf
kenia,38,26,2.84,0,inf
myanmar (birmania),34,13,2.11,0,inf
islas vírgenes de los estados unidos,71,40,2.00,0,inf
montenegro,5,4,0.84,0,inf
taiwán,6,4,0.16,0,inf