In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
df = pd.read_excel('Book1.xlsx',sheetname='Sheet1')

In [8]:
df.head()

           id              Keyword
0   989285530     +dublín +turismo
1   989285085     +atenas +turismo
2  1529050017  +australia +turismo
3  1034229595    +irlanda +turismo
4   989239964       viena +turismo

In [14]:
def countPlus (str):
    arr = str.split('+')
    return len(arr) - 1

In [18]:
counts = df['Keyword'].apply(countPlus)

In [20]:
df['NumPluses'] = counts

In [21]:
df.head()

           id              Keyword  NumPluses
0   989285530     +dublín +turismo          2
1   989285085     +atenas +turismo          2
2  1529050017  +australia +turismo          2
3  1034229595    +irlanda +turismo          2
4   989239964       viena +turismo          1

In [23]:
df.to_excel('Book1.xlsx', sheet_name="output")